BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 3a80bbb3a1bb

ALTER TABLE device_condition_change_requests ADD FOREIGN KEY(loan_item_id) REFERENCES device_loan_items (id);

ALTER TABLE device_condition_change_requests ADD FOREIGN KEY(requested_by_user_id) REFERENCES users (id);

ALTER TABLE device_condition_change_requests ADD FOREIGN KEY(reviewed_by_admin_id) REFERENCES users (id);

ALTER TABLE employees ADD COLUMN user_id INTEGER;

ALTER TABLE employees ALTER COLUMN nip DROP NOT NULL;

DROP INDEX ix_employees_nip;

CREATE INDEX ix_employees_nip ON employees (nip);

ALTER TABLE employees ADD CONSTRAINT uq_employees_user_id UNIQUE (user_id);

ALTER TABLE employees ADD CONSTRAINT fk_employees_user_id FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE mfa_backup_codes ADD FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE password_reset_tokens ADD FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE user_roles ADD FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE users ADD COLUMN nama VARCHAR(255);

ALTER TABLE users ADD COLUMN nip VARCHAR(50);

ALTER TABLE users ADD COLUMN jabatan VARCHAR(255);

UPDATE users SET nama = username WHERE nama IS NULL;

ALTER TABLE users ALTER COLUMN nama SET NOT NULL;

DROP INDEX ix_users_username;

ALTER TABLE users DROP COLUMN username;

CREATE INDEX ix_users_nama ON users (nama);

INSERT INTO alembic_version (version_num) VALUES ('3a80bbb3a1bb') RETURNING alembic_version.version_num;

-- Running upgrade 3a80bbb3a1bb -> a1b2c3d4e5f6

ALTER TABLE device_condition_change_requests ADD COLUMN evidence_photo_url VARCHAR;

UPDATE alembic_version SET version_num='a1b2c3d4e5f6' WHERE alembic_version.version_num = '3a80bbb3a1bb';

-- Running upgrade a1b2c3d4e5f6 -> b2c3d4e5f6g7

COMMIT;

ALTER TYPE devicecondition ADD VALUE IF NOT EXISTS 'RUSAK';

ALTER TYPE devicecondition ADD VALUE IF NOT EXISTS 'MAINTENANCE';

BEGIN;

UPDATE device_loan_items 
        SET condition_before = 'RUSAK'::devicecondition
        WHERE condition_before::text IN ('RUSAK_RINGAN', 'RUSAK_BERAT');

UPDATE device_loan_items 
        SET condition_after = 'RUSAK'::devicecondition
        WHERE condition_after::text IN ('RUSAK_RINGAN', 'RUSAK_BERAT');

UPDATE device_condition_change_requests 
        SET old_condition = 'RUSAK'::devicecondition
        WHERE old_condition::text IN ('RUSAK_RINGAN', 'RUSAK_BERAT');

UPDATE device_condition_change_requests 
        SET new_condition = 'RUSAK'::devicecondition
        WHERE new_condition::text IN ('RUSAK_RINGAN', 'RUSAK_BERAT');

UPDATE devices 
        SET device_condition = 'RUSAK'::devicecondition
        WHERE device_condition::text IN ('RUSAK_RINGAN', 'RUSAK_BERAT');

UPDATE device_children 
        SET device_condition = 'RUSAK'::devicecondition
        WHERE device_condition::text IN ('RUSAK_RINGAN', 'RUSAK_BERAT');

ALTER TABLE device_loan_items 
            ALTER COLUMN condition_before TYPE text USING condition_before::text;

UPDATE device_loan_items SET condition_before = 'BAIK' WHERE condition_before = 'baik';

UPDATE device_loan_items SET condition_before = UPPER(condition_before);

ALTER TABLE device_loan_items 
            ALTER COLUMN condition_after TYPE text USING condition_after::text;

UPDATE device_loan_items SET condition_after = 'BAIK' WHERE condition_after = 'baik';

UPDATE device_loan_items SET condition_after = UPPER(condition_after);

ALTER TABLE device_condition_change_requests 
            ALTER COLUMN old_condition TYPE text USING old_condition::text;

UPDATE device_condition_change_requests SET old_condition = 'BAIK' WHERE old_condition = 'baik';

UPDATE device_condition_change_requests SET old_condition = UPPER(old_condition);

ALTER TABLE device_condition_change_requests 
            ALTER COLUMN new_condition TYPE text USING new_condition::text;

UPDATE device_condition_change_requests SET new_condition = 'BAIK' WHERE new_condition = 'baik';

UPDATE device_condition_change_requests SET new_condition = UPPER(new_condition);

ALTER TABLE devices 
            ALTER COLUMN device_condition TYPE text USING device_condition::text;

UPDATE devices SET device_condition = 'BAIK' WHERE device_condition = 'baik';

UPDATE devices SET device_condition = UPPER(device_condition);

ALTER TABLE device_children 
            ALTER COLUMN device_condition TYPE text USING device_condition::text;

UPDATE device_children SET device_condition = 'BAIK' WHERE device_condition = 'baik';

UPDATE device_children SET device_condition = UPPER(device_condition);

DROP TYPE IF EXISTS devicecondition;

CREATE TYPE devicecondition AS ENUM ('BAIK', 'RUSAK', 'MAINTENANCE');

ALTER TABLE device_loan_items 
            ALTER COLUMN condition_before TYPE devicecondition USING condition_before::devicecondition;

ALTER TABLE device_loan_items 
            ALTER COLUMN condition_after TYPE devicecondition USING condition_after::devicecondition;

ALTER TABLE device_condition_change_requests 
            ALTER COLUMN old_condition TYPE devicecondition USING old_condition::devicecondition;

ALTER TABLE device_condition_change_requests 
            ALTER COLUMN new_condition TYPE devicecondition USING new_condition::devicecondition;

ALTER TABLE devices 
            ALTER COLUMN device_condition TYPE devicecondition USING device_condition::devicecondition;

ALTER TABLE device_children 
            ALTER COLUMN device_condition TYPE devicecondition USING device_condition::devicecondition;

UPDATE alembic_version SET version_num='b2c3d4e5f6g7' WHERE alembic_version.version_num = 'a1b2c3d4e5f6';

-- Running upgrade b2c3d4e5f6g7 -> 5fdc72a40013

